.font-pixel {
    font-family: "DotGothic16", sans-serif !important;
}
.font-general {
    font-family: "Indie Flower", sans-serif;
}
.font-titulo {
    font-family: "Barrio", sans-serif;
}
.font-underfake {
    font-family: "Honk", sans-serif;
}
.font-segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}